@mixin section($height) {
    padding: 100px 0;
    min-height: $height;
}

@mixin section_picture($url){
    background: {
        image: url($url);
        repeat: no-repeat;
        position: center top;
        size: cover;
    }
}

@mixin heading($c, $p, $s) {
    font-family: $fonts1;
    font-size: $s;
    text-align: center;
    color: $c;

    &::after{
        content: url($p);
        display: block;
        margin: 24px auto;
    }
}



@mixin tablet {
    @media screen and(max-width:768px) {
        @content;
    }
}

@mixin phone {
    @media screen and(max-width:512px) {
        @content;
    }
}

@mixin ipad {
    @media screen and(max-width:1160px) {
        @content;
    }
}



