.footer{
    @include section(375px);
    background-color: #000;
    color: $color1_white;

    &__items{
        @include tablet{
            flex-direction: column;
        }
        display: flex;
        text-align: center;
        justify-content: space-between;
    }

    &__item{
        @include tablet{
            max-width: 100%;
        }
        max-width: 30%;
    }

    img{
        margin-top: 20px;
    }
    
    


    h2{
        
        @include tablet{
            margin-top: 20px;
        }
        @include heading ($color1_white, 'images/after_white.png', 21px)
    }
}